@use '../variables/variables.scss' as *;

.sidebar {
  padding-top: 14px;

  &__create {
    display: flex;
    background-color: $icy-landscape;
    max-width: 124px;
    margin-left: 7px;
    border-radius: 10px;
    gap: 15px;
    margin-bottom: 14px;

    &-compose {
      display: flex;
      text-decoration: none;

      &-pen {
        padding-left: 16px;
        padding-top: 17px;
        padding-bottom: 17px;
        font-size: $fs-16;
      }

      &-text {
        font-family: $ff-sans;
        font-size: $fs-13;
        line-height: $lh-17;
        color: $black-oak;
        padding-block: 16px;
        padding-left: 15px;
        padding-right: 16px;
        margin: 0;
        text-decoration: none;
      }
    }
  }

  &.collapsed {
    width: 50px; //soldaki ikonlar küçülünce çalışıyor
  }

  &__headline {
    padding-left: 23px;

    &:hover {
      background-color: $lavendar-wisp;
      border-top-right-radius: 17px;
      border-bottom-right-radius: 17px;
    }

    &.active {
      // sol kısmın üstüne basınca açılan mavilik
      background-color: $veiling-waterfalls;
      border-top-right-radius: 17px;
      border-bottom-right-radius: 17px;

      p,
      i {
        color: $black;
      }
    }

    &-box{
      display: flex;
      align-items: center;
      padding-top: 8px;
      padding-right: 10px;
      text-decoration: none;

      &-icon {
        font-size: $fs-17;
        color: $grey-web;
      }

      &-text {
        font-family: $ff-roboto;
        font-size: $fs-13;
        line-height: $lh-15;
        font-weight: 400;
        color: $black-panther;
        padding-top: 6px;
        padding-bottom: 7px;
        padding-left: 20px;
        margin: 0;
        text-decoration: none;
      }
    }
  }

  // &__menu {
  //   display: block;

  //   &-item {
  //     display: flex;
  //     cursor: pointer;
  //     padding-left: 23px;
  //     width: 190px;
  //     height: 28px;
  //     color: $black-oak;

  //     &:hover {
  //       width: 100%;
  //       background-color: $lavendar-wisp;
  //       border-top-right-radius: 17px;
  //       border-bottom-right-radius: 17px;
  //     }

  //     &.active {
  //       //sol more kısımdaki ikonlar tıklanınca mavi
  //       width: 100%;
  //       background-color: $veiling-waterfalls;
  //       border-top-right-radius: 17px;
  //       border-bottom-right-radius: 17px;

  //       p,
  //       i {
  //         color: $black;
  //       }
  //     }

  //     i {
  //       font-size: $fs-13;
  //       padding: 8px 0 0 0;
  //     }

  //     &-icon{
  //       padding-top: 6px;
  //     }

  //     &-text {
  //       font-family: $ff-roboto;
  //       font-size: $fs-13;
  //       line-height: $lh-15;
  //       font-weight: 400;
  //       color: $black-panther;
  //       padding-top: 6px;
  //       padding-bottom: 7px;
  //       padding-left: 21px;
  //       margin: 0;
  //       text-decoration: none;
  //     }
  //   }
  // }
}
