@use '../variables/variables.scss' as *;

.categories {
    display: flex;
    align-items: center;
    padding-left: 23px;
    padding-block: 9px;
    position: relative;

    &:hover {
      background-color: $lavendar-wisp;
      border-top-right-radius: 17px;
      border-bottom-right-radius: 17px;
    }

    //bak
    // &-article {
    //   width: 14px;
    //   height: 11px;
    // }

    &-text {
      font-family: $ff-roboto;
      font-size: $fs-13;
      line-height: $lh-15;
      color: $black-panther;
      font-weight: 400;
      padding-left: 16px;
      margin: 0;
    }

    &-icon {
      margin-left: auto;
      cursor: pointer;
      margin-right: 8px;

      &-menu {
        position: absolute;
        background-color: $white;
        border: 1px solid $cerebral-grey;
        border-radius: 5px;
        box-shadow: 0 4px 6px $back-black;
        padding: 10px;
        list-style: none;
        z-index: 100;

        &-edit,
        &-delete {
          cursor: pointer;
          padding: 5px;
          font-size: $fs-14;
          color: $carbon;
          transition: background-color 0.3s;

          &:hover {
            background-color: $snowflake;
          }
        }
      }
    }
  }