@use '../variables/variables.scss' as *;

.soption {
    padding-left: 23px;

    &:hover {
      background-color: $lavendar-wisp;
      border-top-right-radius: 17px;
      border-bottom-right-radius: 17px;
    }

    &.active {
      // sol kısmın üstüne basınca açılan mavilik
      background-color: $veiling-waterfalls;
      border-top-right-radius: 17px;
      border-bottom-right-radius: 17px;

      p,
      i {
        color: $black;
      }
    }

    &__box{
      display: flex;
      align-items: center;
      padding-top: 8px;
      padding-right: 10px;
      text-decoration: none;

      &-icon {
        font-size: $fs-17;
        color: $grey-web;
      }

      &-text {
        font-family: $ff-roboto;
        font-size: $fs-13;
        line-height: $lh-15;
        font-weight: 400;
        color: $black-panther;
        padding-top: 6px;
        padding-bottom: 7px;
        padding-left: 20px;
        margin: 0;
        text-decoration: none;
      }
    }
  }