@use "../components/variables/style.scss" as *;

body {
  background-color: $ghost-white;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__box {
    display: flex;
    flex: 1 1 auto;
    

    &-sidebar {
      display: flex;
      flex-direction: column;
      // flex-shrink: 0; // Sidebar'ın boyutunun sabit kalmasını sağlar
    }

    &-outlet {
      display: flex;
      flex-direction: column;
      flex-grow: 1; // Burası tüm boşluğu dolduracak
      background-color: $white;
      border-radius: 15px;
      height: 175%;
      margin-top: 9px;
      transition: width 0.3s ease;
      margin-left: 12px;
    }

    &-item {
    }
  }
}
