@use "../variables/style.scss" as *;

.compose { 
    left: 70%;
    bottom: 13px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 4px 12px $back-black;
    flex-direction: column;
    position: fixed;
    z-index: 1;

    &__header {
      display: flex;
      justify-content: space-between;
      background-color: $cotton-ball;
      align-items: center;
  
      &-text {
        font-family: $ff-roboto;
        font-size: $fs-12;
        line-height: $lh-14;
        font-weight: 500;
        color: $shadowed-steel;
        padding: 10px 0 9px 16px;
        margin: 0;
      }
  
      &-icons {
        &-minimize {
          cursor: pointer;
          padding: 0px 0 12px 0;
          font-size: $fs-9;
          color: $shadowed-steel;
        }

        &-close {
          cursor: pointer;
          padding: 12px 16px 11px 14px;
          font-size: $fs-12;
          color: $shadowed-steel;
        }
      }
    }

    &__content {
      font-size: $fs-14;
      color: $black-oak;
  
      &-to,&-subject{
        padding-top: 9px;
        padding-left: 16px;
        padding-right: 16px;

        &-text{
          font-family: $ff-roboto;
          font-size: $fs-12;
          line-height: $lh-14;
          font-weight: 400;
          padding-top: 33px;
          padding-bottom: 10px;
        }

        &-input{
          width: calc(98% - 50px);
          padding: 1px;
          border: none;
          border-radius: 4px;

          &::placeholder {
            font-family: $ff-roboto;
            font-size: $fs-12;
            line-height: $lh-14;
            font-weight: 400;
            color: $shadowed-steel;
          }
          
          &:focus {
            outline: none; 
          }

          &-stick{
            margin: 0;
            background-color: $chef-s-hat;
          }
      }
    }
  
      &-body {
        padding: 0;
        width: 91%;
        min-height: 322px;
        border: none;
        border-radius: 4px;
        margin-left: 16px;
        padding-top: 10px;

        &::placeholder {
          font-family: $ff-roboto;
          font-size: $fs-12;
          line-height: $lh-14;
          font-weight: 400;
          color: $shadowed-steel;
        }

        &:focus {
          outline: none;
        }
      }
    }
    
    &__footer {
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 17px;
        padding-bottom: 12px;
    
        &-send {
          font-family: $ff-roboto;
          font-size: $fs-12;
          line-height: $lh-14;
          font-weight: 500;
          background-color: $dead-blue-eyes;
          color: $white;
          padding: 7px 41px 7px 15px;
          margin-right: 4px;
          border: none;
          border-radius: 200px;
          cursor: pointer;
    
          &:hover {
            background-color: $bleu-de-france;
          }
        }

        &-icon{
          display: flex;
          color: $shadowed-steel;
          
          span{
            padding-left: 4px;
          }
        }

        &-trash{
          color: $shadowed-steel;
          padding-left: 127px;
        }
      }
  }