@use '../variables/style.scss' as *;

.modal {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32%;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 4px 12px $black-silver;
    z-index: 100;

    &-header {
      font-size: $fs-18;
      font-weight: bold;
      margin: 0;
      padding: 24px 24px 16px 24px;
    }

    &-content {
      padding: 0 24px 20px;

      &-label {
        display: block;
        margin-bottom: 8px;
      }

      &-select,
      &-text {
        width: 100%;
        padding: 10px;
        border: 1px solid $ghost-white;
        border-radius: 4px;
        margin-bottom: 15px;
      }
    }

    &-footer {
      display: flex;
      justify-content: flex-end;
      padding: 0 24px 20px;
      gap: 8px;

      &-close {
        padding: 10px 20px;
        border: none;
        border-radius: 40px;
        cursor: pointer;
        color: $dead-blue-eyes;
        background-color: $white;

        &:hover {
          background-color: $placebo-blue;
        }
      }

      &-create {
        padding: 10px 20px;
        border: none;
        border-radius: 40px;
        cursor: pointer;
        color: $anti-flash-white;
        background-color: $bleu-de-france;
      }
    }
  }