@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Değişkenler
$ghost-white: #f7f8fc;
$equinox: #64686c;
$thames-dusk: #64676c;
$moon-white: #eaf1fb;
$sonic-silver: #757575ff;
$bleu-de-france: #2f80ed;
$icy-landscape: #c3e7ff;
$black-silver: #0000004d;
$black-oak: #4f4f4f;
$black-panther: #414244;
$veiling-waterfalls: #d3e3fd;
$lavendar-wisp: #eaebef;
$stiletto: #313234;
$white: #ffffff;
$black: #000000;
$smoked-pearl: #6d6e70ff;
$carbon: #333333ff;
$cotton-ball: #f2f6fc;
$shadowed-steel: #4a4a4aff;
$dead-blue-eyes: #0e57cbff;
$mission-control: #818488ff;
$black-dark: #00000099;
$noghrei-silver: #bdbdbdff;
$placebo-blue: #ecf2fcff;
$covered-in-platinum: #b8b9baff;
$anti-flash-white: #f1f3f4ff;
$american-yellow: #f4b400;
$christmas-silver: #e0e0e0ff;
$squant: #666666ff;
$brilliant-liquorice: #535456ff;
$bái-sè-white: #eceff1ff;
$lighthouse: #f4f4f4ff;
$fantasia: #747789ff;
$cerebral-grey: #ccccccff;
$snowflake: #f0f0f0ff;
$bisque: #ffe4c4ff;
$back-black: #0000001a;
$carte-blanche: #ededfeff;
$grey-web: #5f6368ff;

$ff-sans: "Open Sans", sans-serif;
$ff-roboto: "Roboto", sans-serif;

$fs-5:  0.313rem;
$fs-9:  0.563rem;
$fs-10: 0.625rem;
$fs-11: 0.688rem;
$fs-12: 0.75rem;
$fs-13: 0.813rem;
$fs-14: 0.875rem;
$fs-15: 0.938rem;
$fs-16: 1.0rem;
$fs-17: 1.063rem;
$fs-18: 1.125rem; 
$fs-19: 1.188rem; 
$fs-27: 1.688rem;
$fs-41: 2.563rem;

$lh-11: 0.688rem;
$lh-12: 0.75rem;
$lh-14: 0.875rem; 
$lh-15: 0.938rem;
$lh-17: 1.063rem;
$lh-19: 1.188rem; 
$lh-20: 1.25rem;
$lh-24: 1.5rem;
$lh-25: 1.563rem;
