@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.mdetail {
  padding-left: 18px;
  padding-top: 16px;
}
.mdetail__icons {
  display: flex;
  align-items: center;
  color: #4f4f4f;
  font-size: 1.063rem;
}
.mdetail__icons-back {
  cursor: pointer;
}
.mdetail__icons-archive {
  padding-left: 48px;
  padding-right: 23px;
}
.mdetail__icons-exclamation, .mdetail__icons-trash, .mdetail__icons-open, .mdetail__icons-clock, .mdetail__icons-check, .mdetail__icons-folder, .mdetail__icons-left {
  padding-right: 23px;
}
.mdetail__icons-stick {
  width: 1px;
  height: 12px;
  background-color: #e0e0e0;
  border: none;
  margin: 0;
  margin-right: 23px;
  position: relative;
  top: -2px;
}
.mdetail__icons-interval {
  display: flex;
  margin-left: auto;
  padding-right: 35px;
}
.mdetail__icons-interval-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  line-height: 0.688rem;
  font-weight: 500;
  color: #818488;
  padding-top: 2px;
  margin: 0;
}
.mdetail__icons-interval-left {
  padding-left: 23px;
  font-size: 0.625rem;
  color: #bdbdbd;
  padding-top: 3px;
}
.mdetail__icons-interval-right {
  padding-left: 28px;
  font-size: 0.625rem;
  color: #bdbdbd;
  padding-top: 3px;
}
.mdetail__content {
  display: flex;
  align-items: center;
  padding: 41px 39px 23px 57px;
  width: 100%;
}
.mdetail__content-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding-right: 10px;
}
.mdetail__content-inbox {
  display: flex;
  width: 50px;
  height: 18px;
  background-color: #e0e0e0;
  border-radius: 4px;
}
.mdetail__content-inbox-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.688rem;
  line-height: 0.75rem;
  font-weight: 500;
  color: #666666;
  padding: 3px 0 2px 6px;
  margin: 0;
}
.mdetail__content-inbox-cancel {
  padding: 4px 5px 15px 5px;
  font-size: 0.563rem;
  color: #666666;
}
.mdetail__content-icons {
  display: flex;
  margin-left: auto;
  padding-right: 90px;
  color: #64676c;
  gap: 20px;
}
.mdetail__content-icons-print {
  font-size: 0.938rem;
}
.mdetail__content-icons-share {
  font-size: 0.875rem;
}
.mdetail__sender {
  display: flex;
  padding: 0 39px 0 0;
}
.mdetail__sender-user {
  font-size: 2.563rem;
  color: #2f80ed;
}
.mdetail__sender-name {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  line-height: 1.063rem;
  font-weight: 700;
  padding: 2px 0 0 16px;
  gap: 5px;
}
.mdetail__sender-name-mail {
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  line-height: 1.063rem;
  font-weight: 700;
  color: #757575;
  margin: 0;
}
.mdetail__sender-info {
  display: flex;
  margin-left: auto;
}
.mdetail__sender-info-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  line-height: 0.688rem;
  font-weight: 500;
  color: #818488;
  margin: 0;
  padding-top: 2px;
}
.mdetail__sender-info-star {
  font-size: 0.938rem;
  padding: 0 0 0 20px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #bdbdbd;
}
.mdetail__sender-info-star.starred {
  color: #f4b400;
}
.mdetail__sender-info-reply {
  font-size: 0.938rem;
  padding: 0 0 0 20px;
}
.mdetail__sender-info-stick {
  font-size: 0.75rem;
  padding: 1px 0 0 20px;
}
.mdetail__explanation {
  padding: 0 95px 0 57px;
}
.mdetail__explanation-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.188rem;
  font-weight: 400;
  color: #535456;
  margin: 0;
}
.mdetail__explanation-divider {
  border: 2px solid #eceff1;
  margin: 30px 0;
}/*# sourceMappingURL=style.css.map */