@use '../variables/variables.scss' as *;

.sidebar {
  &__labels {
    padding-top: 26px;

    &-add {
      padding-left: 23px;
      display: flex;
      font-family: $ff-sans;
      font-size: $fs-15;
      line-height: $lh-20;
      font-weight: 600;
      color: $stiletto;

      &-header {
        margin: 0;
        padding-bottom: 10px;
      }

      &-icon {
        padding-left: 119px;
        padding-top: 4px;
        font-size: $fs-12;
        color: $black;
        z-index: 10;

        &.collapsed {
          margin-left: 0px;
        }
      }
    }

    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black-dark;
      display: none;
      z-index: 99;
    }

    // &-modal {
    //   display: flex;
    //   position: fixed;
    //   flex-direction: column;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   width: 32%;
    //   background-color: $white;
    //   border-radius: 8px;
    //   box-shadow: 0 4px 12px $black-silver;
    //   z-index: 100;

    //   &-header {
    //     font-size: $fs-18;
    //     font-weight: bold;
    //     margin: 0;
    //     padding: 24px 24px 16px 24px;
    //   }

    //   &-content {
    //     padding: 0 24px 20px;

    //     &-label {
    //       display: block;
    //       margin-bottom: 8px;
    //     }

    //     &-select,
    //     &-text {
    //       width: 100%;
    //       padding: 10px;
    //       border: 1px solid $ghost-white;
    //       border-radius: 4px;
    //       margin-bottom: 15px;
    //     }
    //   }

    //   &-footer {
    //     display: flex;
    //     justify-content: flex-end;
    //     padding: 0 24px 20px;
    //     gap: 8px;

    //     &-close {
    //       padding: 10px 20px;
    //       border: none;
    //       border-radius: 40px;
    //       cursor: pointer;
    //       color: $dead-blue-eyes;
    //       background-color: $white;

    //       &:hover {
    //         background-color: $placebo-blue;
    //       }
    //     }

    //     &-create {
    //       padding: 10px 20px;
    //       border: none;
    //       border-radius: 40px;
    //       cursor: pointer;
    //       color: $anti-flash-white;
    //       background-color: $bleu-de-france;
    //     }
    //   }
    // }

    // &-categories {
    //   display: flex;
    //   align-items: center;
    //   padding-left: 23px;
    //   padding-block: 9px;
    //   position: relative;

    //   &:hover {
    //     background-color: $lavendar-wisp;
    //     border-top-right-radius: 17px;
    //     border-bottom-right-radius: 17px;
    //   }

    //   //bak
    //   // &-article {
    //   //   width: 14px;
    //   //   height: 11px;
    //   // }

    //   &-text {
    //     font-family: $ff-roboto;
    //     font-size: $fs-13;
    //     line-height: $lh-15;
    //     color: $black-panther;
    //     font-weight: 400;
    //     padding-left: 16px;
    //     margin: 0;
    //   }

    //   &-icon {
    //     margin-left: auto;
    //     cursor: pointer;
    //     margin-right: 8px;

    //     &-menu {
    //       position: absolute;
    //       background-color: $white;
    //       border: 1px solid $cerebral-grey;
    //       border-radius: 5px;
    //       box-shadow: 0 4px 6px $back-black;
    //       padding: 10px;
    //       list-style: none;
    //       z-index: 100;

    //       &-edit,
    //       &-delete {
    //         cursor: pointer;
    //         padding: 5px;
    //         font-size: $fs-14;
    //         color: $carbon;
    //         transition: background-color 0.3s;

    //         &:hover {
    //           background-color: $snowflake;
    //         }
    //       }
    //     }
    //   }
    // }
  }
}
