@use "../variables/variables.scss" as *;

.mailview{
    &__controller{
        display: flex;
        align-items: center;
        margin-top: 16px;
        margin-left: 18px;
        position: relative;
    
        &-check{
          width: 13px;
          height: 13px;
    
          &:hover{
            background-color: $lavendar-wisp;
            border-radius: 5%;
          }
        }
    
        &-down{
          padding-left: 7px;
          font-size: $fs-12;
        }
    
        &-refresh, &-other{
          padding-left: 27px;
        }
    
        &-trash, &-open{
          padding-left: 27px;
          display: none;
        }
    
        &-interval{
          display: flex;
          margin-left: auto;
          padding-right: 35px;
    
          &-text{
            font-family: $ff-roboto;
            font-size: $fs-10;
            line-height: $lh-11;
            font-weight: 500;
            color: $mission-control;
            padding-top: 2px;
            margin: 0;
          }
    
          &-left,
          &-right{
            padding-left: 23px;
            font-size: $fs-10;
            color: $noghrei-silver;
            padding-top: 3px;
          }
        }
      }
}