@use "../variables/style.scss" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 25px;

  &__catagory {
    display: flex;
    padding-top: 9px;
    padding-left: 21px;

    &-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;

      &:hover {
        background-color: $lavendar-wisp;
        border-radius: 100%;
      }

      &-icon {
        font-size: $fs-16;
      }
    }

    &-icon {
      padding-top: 5px;
      padding-left: 18px;
    }

    &-text {
      &-mail {
        font-family: $ff-sans;
        font-size: $fs-19;
        line-height: $lh-25;
        font-weight: 600;
        color: $equinox;
        padding-block: 3px;
        padding-left: 9px;
        margin: 0;
      }
    }
  }

  &__search {
    display: flex;
    width: 68%;
    background-color: $moon-white;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 12px;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-block: 11px;
      color: $thames-dusk;
      font-size: $fs-19;

      &:hover {
        background-color: $lavendar-wisp;
        border-radius: 100%;
      }
    }

    &-input {
      display: block;
      width: 100%;

      &-form {
        display: block;
        width: 100%;
        flex-grow: 1;
        border-radius: 0;
        background-color: transparent;
        border: 1px solid $moon-white;
        padding-block: 17px;
        padding-left: 10px;

        &::placeholder {
          color: $sonic-silver;
        }

        &:focus {
          outline: none;
        }
      }
    }

    &-settings {
      display: flex;
      margin-left: auto;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-block: 11px;
      font-size: $fs-18;

      &:hover {
        background-color: $lavendar-wisp;
        border-radius: 100%;
      }
    }
  }

  &__select {
    display: flex;
    font-size: $fs-16;

    &-question {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $fs-18;
      width: 32px;
      height: 32px;

      &:hover {
        background-color: $lavendar-wisp;
        border-radius: 100%;
      }
    }

    &-gear {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 6px;
      font-size: $fs-16;
      width: 32px;
      height: 32px;
      font-size: $fs-18;

      &:hover {
        background-color: $lavendar-wisp;
        border-radius: 100%;
      }
    }

    &-grid {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 6px;
      font-size: $fs-15;
      width: 32px;
      height: 32px;
      font-size: $fs-19;
      cursor: pointer;

      &:hover {
        background-color: $lavendar-wisp;
        border-radius: 100%;
      }
    }

    &-user {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $bleu-de-france;
      margin-left: 14px;
      font-size: $fs-27;
    }
  }

  &__apps {
    position: absolute;
    top: 90px;
    right: 10px;
    background-color: $ghost-white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    z-index: 100;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 15px;
      border-radius: 8px;
      transition: background 0.2s;
      cursor: pointer;

      &:hover {
        background: $anti-flash-white;
      }

      &-icon {
        width: 26px;
        height: 21px;
      }

      &-text {
        font-family: $ff-sans;
        font-size: $fs-14;
        line-height: $lh-17;
        color: $black-oak;
        margin-top: 10px;
        margin-bottom: 0px;
      }
    }
  }
}
